.todo-app {
    display: flex;
    background-color: #150050;
    width: 30vw;
    height: 40vw;
    margin: 100px auto;
    justify-content: center;
    color: white;
}
.todo-form {
    display: flex;
    justify-content: center;
}
.todo-input {
    width: 200px;
    padding: 10px 32px 10px 16px;
    border-radius: 4px 0 0 4px;
    border: darkorchid 2px solid;
    outline: none;
}
.todo-button {
    padding: 10px;
    border-radius: 0 4px 4px 0;
    background-color: #9b00fa;
    border: none;
    color: white;
}
.todo-row {
    display: flex;
    width: 100%;
    margin-top: 10px;
    background-color: #610094;
    padding: 10px 5px 10px 5px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}